.navbar {
  background: #526D82; 
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 0.8rem 2rem;
  position: sticky;
  top: 0;
  z-index: 500;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

/* Main menu */
.nav-menu {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-menu a.active {
  color: #81817d; 
  border-bottom: 2px solid #81807e;
}

.btn,
.logout-btn {
  background: white; 
  color: #526D82;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  margin-left: 0.5rem;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 0.5rem;
  transition: transform 0.2s ease;
}

.avatar:hover {
  transform: scale(1.05);
}

/* Hamburger icon */
.mobile-icon {
  display:none;
  cursor: pointer;
  font-size: 26px;
  user-select: none;
  color: white; 
}

.icon::after {
  content: "☰";
}

.icon.close::after {
  content: "✖";
}


@media (max-width: 768px) {
  .nav-menu {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: #526D82; 
    flex-direction: column;
    gap: 1rem;
    padding: 1.2rem 2rem;
    display: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }

  .nav-menu.active {
    display: flex;
  }

  .mobile-icon {
    display: block;
  }
 
  .btn,
  .logout-btn {
    width: 100%;
    text-align: center;
  }
}
